<html>
<head>
    <title>
        END PAGE
    </title>
    <style>
        h1{
            margin-top: 100px;
            font-size: 80px;
            color:Purple;
        }
        p{
            margin-top: 20px;
            font-size: 40px;
            color:black;
        }
        input{
            border:1px solid purple;
            background:transparent;
            width:150px;
            height:40px;
        }
    </style>
</head>
<center><h1>SUCCESSFULLY PURCHASED</h1>
    <P>with your reg form</P><br>
    <a href="{% url 'categories' %}"><input type="button" value="categories"></a></center>
</html>